@font-face{
    font-family : "heydings_controls";
    src : url('heydings_controls.ttf');
}

html, body {
    margin:0;
    padding:0;
    height:100%;
}

a {
    color : #3173BD;
}

.main {
    margin: 1em 7px 0;
}

.cf-message-padding {
    padding-top: 10px;
}

.one-color {
    padding-bottom: 10px; 
    margin-top: -4px;
}

.one-color input {
    margin-top : 0;
    margin-left : 10px;
}

.color-sample {
    margin-top: 4px;
    vertical-align: -5px;
    display: inline-flex;
    border: solid 1px #CCC;
    width: 50%;
    height: 20px;
    border-radius: .3em;
    margin-right: 5px;
    background-color: #f0f0f0;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,0.5) 3px, rgba(255,255,255,.5) 29px);
}

.hexa-value {
    margin-left: 3px;
    font-family: monospace;
}

.picker-input {
    display: none;
}

#element {
   margin-bottom: 10px;
}

#element-targeted {
    font-family: monospace;
}

.cf-block {
    margin-bottom: 2em;
}

#cf-messages {
    background-color: #f4f4f4;
    min-height: 10em;
}

.bs-callout {
    margin: 0 0;
    padding: 10px;
    border-left: 3px solid #eee;
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.bs-callout-info {
    background-color: #E9E9E9;
    border-color: #656565;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 6px;
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.bs-callout-success {
    background-color: #DFF0D8;
    border-color: #3C763D;
}
.error-message {
    color: #be7104;
    font-size: 18px;
    display: none;
}

.valid-message {
    color: #3C763D;
    font-size: 18px;
    display: none;
}

.inform-message {
    display: block;
    font-size: 14px;
    padding-top: 10px;
}

.contrast-alt-attribute {
    display: none;
    font-size: 14px;
    margin-top: 10px;
}

#info-message {
    background-color: #f4f4f4;
    min-height: 4em;
    color: #656565;
    font-size: 12px;
    text-align: left;
    padding: 1em 7px 1em;
    margin-bottom: 5px;    
}

.invalid-message {
    color: #d9534f;
    font-size: 18px;
    display: none;
}

#info-text {
    font-size: 14px;
}

#submit {
    margin-top: 10px;
    width: 100%;
    white-space: normal;
}

.my-fieldset legend {
    opacity: 0.5;
    font-size: 14px;
    margin-bottom: 0px;
}

.my-fieldset span {
    opacity: 0.5;
    cursor: not-allowed;
}

.my-fieldset span:first-child {
    opacity: 1;
}

.my-fieldset fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px none;
    min-width: 0px;
}

.selector {
    background-color: #CCCBCA;
}

.selector label {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 7px;
}

#selector {
    margin-left: 10px;
    -moz-transform: scale(1.5);
}

a.btn.disabled {
    color: #645C5C;
    opacity : 1;
}

a.btn {
    display: inline-block;
}

@media (min-height: 870px) {
    #link-cf-website {
	position:absolute;
	bottom:0;
	width: 100%;
	margin-bottom:30px;
	text-align: center;
    }
}
@media (max-height: 869px) {
    #link-cf-website {
	text-align: center;
    }
}

.btn.btn-gray {
    border: 1px solid #656565;
    -moz-box-shadow: inset 0 1px 2px #B1B1B1;
    background: #758294;
    background-size: 100%;
    background-image: -moz-linear-gradient(top, #D0D0D0, #B0B0B0);
}

.button{
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 20px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 20px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.button:after{
    color:#949494;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    position: absolute;
    width: 30px;
}

.picker {
    position: absolute;
    margin-left: 15px;
}

.picker:after{
    font-family : "heydings_controls", Helvetica, Arial, sans-serif;
    font-size: 15px;
    content: "e";
    left: 2px;
    top: 0px;
}

.picker-input:checked + label.picker:after {
    color:#83d244;
}

.picker-input:checked + label.picker {
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.picker:hover:after{
    color:#83d244;
    text-shadow:0px 0px 6px #83d244;
}

.button:hover{
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.button:active{
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.button:active:after{
    color:#dbd2d2;
    text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}