html, body {
    margin:0;
    padding:0;
    height:100%;
}

a {
    color : #3173BD;
}

.main {
    margin: 1em 7px 0;
}

.cf-message-padding {
    padding-top: 10px;
}

.one-color {
    padding-bottom: 10px; 
}

.color-sample {
    border: solid 1px #CCC;
    width: 50%;
    height: 20px;
    border-radius: .3em;
    margin-right: 5px;
    background-color: #f0f0f0;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 15px, rgba(255,255,255,0.5) 3px, rgba(255,255,255,.5) 29px);
}

.hexa-value {
    padding-left:110%;
    font-family: monospace;
}

#element {
   margin-bottom: 10px;
}

#element-targeted {
    font-family: monospace;
}

.cf-block {
    margin-bottom: 2em;
}

#cf-messages {
    background-color: #f4f4f4;
    min-height: 12em;
}

.bs-callout {
    margin: 0 0;
    padding: 10px;
    border-left: 3px solid #eee;
}

.bs-callout-warning {
    background-color: #fcf8f2;
    border-color: #f0ad4e;
}

.bs-callout-info {
    background-color: #E9E9E9;
    border-color: #656565;
    text-align: left;
    margin-bottom: 10px;
    margin-right: 6px;
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #d9534f;
}

.bs-callout-success {
    background-color: #DFF0D8;
    border-color: #3C763D;
}
.error-message {
    color: #be7104;
    font-size: 18px;
    display: none;
}

.valid-message {
    color: #3C763D;
    font-size: 18px;
    display: none;
}

.info-message {
    color: #656565;
    font-size: 18px;
}

.invalid-message {
    color: #d9534f;
    font-size: 18px;
    display: none;
}

#info-text {
    font-size: 14px;
}

#submit {
    margin-top: 10px;
    width: 100%;
    white-space: normal;
}

.my-fieldset legend {
    opacity: 0.5;
    font-size: 14px;
    margin-bottom: 0px;
}

.my-fieldset span {
    opacity: 0.5;
    cursor: not-allowed;
}

.my-fieldset fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px none;
    min-width: 0px;
}

.selector {
    background-color: #CCCBCA;
}

.selector label {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 7px;
}

#selector {
    margin-left: 10px;
    -moz-transform: scale(1.5);
}

a.btn.disabled {
    color: #645C5C;
    opacity : 1;
}

a.btn {
    display: inline-block;
}

@media (min-height: 720px) {
    #link-cf-website {
	position:absolute;
	bottom:0;
	width:97%;
	margin-bottom:30px;
	text-align: center;
    }
}
@media (max-height: 719px) {
    #link-cf-website {
	text-align: center;
    }
}

.btn.btn-gray {
    border: 1px solid #656565;
    -moz-box-shadow: inset 0 1px 2px #B1B1B1;
    background: #758294;
    background-size: 100%;
    background-image: -moz-linear-gradient(top, #D0D0D0, #B0B0B0);
}