textarea {
    margin: 10px;
}

.error-message {
    color: red;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

.valid-message {
    color: #47A447;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: none;
}

#submit {
    width: 100%;
}

.my-fieldset legend {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0px;      
}

.my-fieldset fieldset {
    padding: 0px;
    margin: 0px;
    border: 0px none;
    min-width: 0px;
}

.selector {
    border-bottom: 1px dotted #000;
}

.selector label {
    margin-bottom: 30px;
    margin-top: 30px;
    padding-bottom:17px;
    padding-left: 55px;
    padding-top: 8px;
}

.separator {
    border-bottom: 1px dotted #000;
}

#selector {
    display: none;
    //-moz-transform: scale(3);
    //outline:none;
}

.selector-button {
    background-image:url("../images/button-selector2.png");
    background-repeat:no-repeat;
    background-size:50px;
      }

.selector-button-clicked {
    background-image:url("../images/button-selector-click2.jpg");
    background-repeat:no-repeat;
    background-size:50px;
}